{% extends "base.j2" %}
{% import "utils.j2" as utils %}
{% set assignment = link.assignment %}
{% set course = assignment.course %}

{% block title %}{{ subject }}{% endblock %}

{% block preview %}{{ subject }}{% endblock %}

{% block body %}
    {% call utils.body_row() %}
        Hi {{ link.user.get_readable_name() }},
    {% endcall %}
    {% call utils.body_row() %}
        {% if mail_idx == 0 -%}
            On
        {%- else -%}
            This is just a reminder that on
        {%- endif %}
        {{ assignment.available_at.strftime("%Y-%m-%d %H:%M") }} the exam {{
        assignment.name }} in the course {{ course.name }} will become
        available. This e-mail contains a special link which you can use during
        the time this exam will be available.
    {% endcall %}

    {% call utils.body_row() %}
        Your login link: {{ utils.normal_link(link.get_url(), link.get_url()) }}</a>
    {% endcall %}

    {% call utils.body_row() %}
        This link will only allow you to login when the exam starts, however you
        can already test this link now, which we advise you to do.  Furthermore,
        this link allows you to set a password so that you do not have to use
        the special link during the exam.
    {% endcall %}

    {% call utils.body_row() %}
        This link is unique and private, do not share it with others!
    {% endcall %}
{% endblock %}

{% block footer %}
    You received this e-mail because you are enrolled for the course "{{
    course.name }}". This is an automated e-mail, replies will not be read.
{% endblock %}
